.App {
  text-align: left;
  width:100%;
  margin:auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: blue;
  text-align: center;
  height: 3rem;
  color: white;
  font-size: large;
}

.App-intro {
  font-size: large;
}

form{
  text-align: center;
  margin: auto;

}
label, input{
  display: block;
  margin: auto;
  margin-top: 2vh;
  font-size: 1.2em;
}

input{
  width: 30%;
  padding: 10px 3px;
   
}

input[type='submit']{
  padding: 10px 20px;
  border-radius: 5px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
  font-size: large;
  font-weight: 600;
}
#result{
  font-size: 1em;
  display: none;
  width: fit-content;
  margin: auto;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}